@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(223, 223, 221);
}

header {
    text-align: center;
    margin-top: 2rem;
}

h1 {
    font-size: clamp(1.5rem, 3vw, 1.8rem);
}

h2,
h3,
h4 {
    text-align: center;
    margin-top: 4rem;
    font-size: clamp(1.3rem, 3vw, 1.6rem);
}

.engtitle {
    display: block;
}

.subtitle {
    text-align: center;
    margin-top: 1.5rem;
    font-size: clamp(1rem, 3vw, 1.2rem);
}

.engsubtitle {
    display: block;
    font-weight: normal;
}

.engsubtitle>span {
    font-weight: bolder;
}

p>span {
    font-weight: bolder;
}

.codeimg {
    margin: auto;
    width: 100%;
    max-width: 700px;
    filter: drop-shadow(5px 5px 8px rgb(8, 8, 8));
}

.wrapper-grid {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    justify-content: center;
}

.container {
    overflow: hidden;
    box-shadow: 0px 2px 20px 0px rgb(95, 95, 95);
    background-color: white;
    text-align: center;
    border-radius: 1rem;
    position: relative;
    margin: 0.7rem;
}

.banner-img {
    position: absolute;
    background-image: url(https://images.unsplash.com/photo-1582727657635-c771002bdada?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
    height: 8rem;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-img {
    width: 10rem;
    clip-path: circle(50px at center);
    margin-top: 4.7rem;
}

.description {
    margin: 2rem 2rem;
    font-size: 0.9rem;
}

/* Min, Max, Clamp  */

.divimg {
    display: block;
    text-align: center;
}

.content {
    border-radius: 1rem;
    margin: 2rem auto;
    background: white;
    padding: 3rem;
    width: max(320px, 70%);
    box-shadow: 0px 2px 20px 0px rgb(95, 95, 95);
}

.ptitle {
    color: blue;
    font-size: clamp(1.8rem, 3vw, 2.3rem);
    margin-bottom: 1rem;
}

.desc {
    font-size: clamp(0.9rem, 1.5vw, 1.1rem);
    margin-bottom: 2rem;
}

.engdesc {
    font-size: clamp(0.9rem, 1.5vw, 1.1rem);
}

/* Flex-wrap, flex-basis, flex-grow */

.card {
    max-width: 350px;
    border-radius: 1rem;
    box-shadow: 0px 2px 20px 0px rgb(95, 95, 95);
    background-color: white;
    padding: 1rem;
}

.cardtitle {
    margin-bottom: 1rem;
}

.cardtitle>span {
    font-size: 1.2rem;
}

.card>p {
    font-size: 0.9rem;
}

.columns {
    justify-content: center;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 1rem;
    margin-bottom: 3rem;
}

.columns>* {
    flex-basis: calc(calc(600px - 100%) * 999);
    flex-grow: 1;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    border-bottom: 1px solid;
    background: #ebebeb;
}